<p><%= Youtube.all.count %></p>
<table class="table table-bordered">
	<tr>
		<th>Youtube ID</th>
		<th>Thumb</th>
		<th>Title</th>
		<th>Uploader</th>
		<th>URL</th>
		<th>Want DL?</th>
	</tr>
	
	<% Youtube.where(:state => 0).desc("title").limit(2000).each do |y| %>
	<tr>
		<td><%= y.yid %></td>
		<td><%= y.thumb %></td>
		<td><%= y.title %></td>
		<td><%= y.uploader %></td>
		<td><%= y.fn %></td>
		<td><input type="checkbox"></input></td>
	</tr>
	<% end %>

</table>
	
