<p><b>Youtubes:</b> <%= Youtube.count %>, <b>Links:</b> <%= Link.count %>, <b>Page:</b> <%= Page.count %></p>

<script type="text/javascript">
  $(document).ready(function(){
    var input = $(this);
    $("input").click(function(event){
      the_id = $(this).attr("id");
      chk = $(this).is(':checked');
      $.ajax({
        url: '/ajax/'.concat(the_id).concat("/").concat(chk),
        success: function(data){
          $.gritter.add({
            title: 'Success!',
            text: data,
            image: '',
            sticky: false,
            time: ''
          });
        }
      });
    });
  });
  $('.tool').tooltip({placement: $(this).attr('title'), trigger: 'manual'}).tooltip('show')
</script>
<table class="table table-bordered table-striped">
	<thead>
    <tr>
		  <th>Youtube ID</th>
	  	<th>Thumb</th>
  		<th>Title</th>
		  <th>Uploader</th>
	  	<th>URL</th>
  		<th>DL?</th>
		  <th>SHA1</th>
	  </tr>
  </thead>
	<% Youtube.where(:state => 0).desc("title").limit(500).each_with_index do |y,i| %>
	<tbody>
    <tr>
		  <td><%= y.yid %></td>
  		<!--<td><%= y.thumb %></td>-->
      <td><img src="http://i3.ytimg.com/vi/<%= y.yid%>/default.jpg" /></td>
  		<td><%= y.title %></td>
	  	<td><%= y.uploader %></td>
		  <td><%= y.fn.nil? ? "" : "<a href=\"/dl/#{y.fn.split('/').last}\" class=\"tool\" rel=\"tooltip\" title=\"#{y.fn.split('/').last}\" target=\"_blank\">GET_ME</a>" %></td>
  		<td><input type="checkbox" id="<%= y.yid %>" <%= y.if_download ? "disabled=\"disabled\" checked=\"checked\"" : "nothing=\"a\"" %>></input></td>
	  	<td><%= y.sha1 %></td>
  	</tr>
  </tbody>
	<% end %>
</table>
